{% extends 'DmitxeBlogBundle::layout.html.twig' %}

{% block html_head_styles %}{{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/comments.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('js/jlike/buttons.css') }}" type="text/css" />
{% endblock html_head_styles %}

{% block html_head_title %} {{ article.title }} &raquo; {{ parent() }} {% endblock html_head_title %}

{% block html_head_meta %}{{ parent() }}
    <meta content="{{ article.title }}" name="title">
    <meta content="{{ article.description }}" name="description">
    <meta content="{{ article.keywords }}" name="keywords">
{% endblock html_head_meta %}

{% block html_head_scripts %}{{ parent() }}
 <!--   <script type="text/javascript" src="http://vk.com/js/api/share.js?86"></script>
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>-->
    <script type="text/javascript">
        var pathbs = "http://simpleblog.mysite/web/";var typeGet="0";

        if(!window.VK) {
            document.write(unescape('<script type="text/javascript" src="http://vkontakte.ru/js/api/openapi.js">%3C/script%3E'));
        }

    </script>

    <script type="text/javascript" src="{{ asset('js/jlike/buttons.js') }}"></script>
{% endblock html_head_scripts %}

{% set breadcrumbs = '<span>' ~ article.title ~ '</span> ' %}

{% if article.category %}
    {% set breadcrumbs = '<a href="' ~ path('smart_blog_category', {'slug': article.category.slugFull}) ~ '">' ~ article.category ~ '</a> &raquo; ' ~ breadcrumbs %}

    {% for category in article.category.parents %}
        {% set breadcrumbs = '<a href="' ~ path('smart_blog_category', {'slug': category.slugFull}) ~ '">' ~ category ~ '</a> &raquo; ' ~ breadcrumbs %}
    {% endfor %}
{% endif %}

{% block smart_blog_content %}

    <h2>{{ article.title }}</h2>

    <p>
        <i class="icon-calendar"></i> {{ article.createdAt | localizeddate('full') }}
        , написал <i class="icon-user"></i> <a href="#">{{ article.author }}</a>
    </p>

    <p>{{ article.annotation }}</p>

    <p>{{ article.text|raw }}</p>

    {{ render(controller('SmartSocialBundle:Share:index', { 'url': path('smart_blog_article', {'slug': article.slug}) })) }}

    {% if article.tags|length %}
        {{ 'Tags'|trans }}:
        {% for tag in article.tags %}
            <a href="{{ path('smart_blog_tag', {'slug': tag.slug}) }}"><span class="label label-info">{{ tag }}</span></a>
        {% endfor %}
    {% endif %}

    {% if article.category %}
        {{ 'Category'|trans }}:
        <a href="{{ path('smart_blog_category', {'slug': article.category.slugFull}) }}"><span class="label label-success">{{ article.category }}</span></a>
    {% endif %}

    {% if is_granted('ROLE_BLOGGER') %}
        <hr />
        <p>
        <a href="{{ path('smart_blog_article_edit', {'id': article.id}) }}" class="btn">Редактирование</a>
        </p>
    {% endif %}

    {% if is_granted('ROLE_USER') %}
       {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': 'blog_' ~ article.id } %}
    {% else %}
       <br />
       <p style="margin-top:20px">Войдите, чтобы оставить комментрарий</p>
    {% endif %}

{% endblock smart_blog_content %}
