{% extends '@DmitxeSite/layout.html.twig' %}

{% block html_head_meta %} {{ parent() }} {% endblock html_head_meta %}

{% block html_head_links %}
    <link href="{{ asset('assets/bootstrap/2.3.2/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/bootstrap/2.3.2/css/bootstrap-responsive.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/screen.css') }}" rel="stylesheet">
    <link href="{{ asset('css/main.css') }}" rel="stylesheet">
    <link href="{{ asset('js/syntaxhighlighter/styles/shCore.css') }}" rel="stylesheet">
    <link href="{{ asset('js/syntaxhighlighter/styles/shThemeDefault.css') }}" rel="stylesheet">
{% endblock html_head_links %}

{% block html_head_scripts %}{{ parent() }}
    <script src="{{ asset('js/syntaxhighlighter/scripts/shCore.js') }}"></script>
    <script src="{{ asset('js/syntaxhighlighter/scripts/shBrushJScript.js') }}"></script>
    <script src="{{ asset('js/syntaxhighlighter/scripts/shBrushSql.js') }}"></script>
    <script src="{{ asset('js/syntaxhighlighter/scripts/shBrushXml.js') }}"></script>
    <script src="{{ asset('js/syntaxhighlighter/scripts/shBrushCss.js') }}"></script>
    <script src="{{ asset('js/syntaxhighlighter/scripts/shBrushPhp.js') }}"></script>
    <script src="{{ asset('js/syntaxhighlighter/scripts/shBrushCpp.js') }}"></script>

    <script type="text/javascript">
        //          SyntaxHighlighter.config.bloggerMode = true;
        SyntaxHighlighter.defaults['toolbar'] = false;
        SyntaxHighlighter.all();
        //           hljs.initHighlightingOnLoad();
    </script>

{% endblock html_head_scripts %}

{% block body %}

    <div id="mst_page" class="container">
        <div class="row">
            <div id="header" class="span12">
                <div id="logo"></div>
            </div>
        </div>

        <div class="row">
            <div class="span12">
                <div class="navbar navbar-static-top navbar-inverse">
                    <div id="mainmenu" class="navbar-inner top-menu">
                        {{ knp_menu_render('DmitxeSiteBundle:SiteMenu:main', {
                            'currentClass': 'active',
                            'clear_matcher': false,
                        }) }}

                        <ul class="nav pull-right">
                            {% if is_granted('ROLE_USER') %}
                                <li class="divider-vertical"></li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-user icon-white"></i>
                                        &nbsp;{{ app.user.username }} <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('fos_user_profile_show') }}"><i class="icon-cog"></i> Мой профиль</a></li>
                                        <li class="divider"></li>
                                        <li><a href="{{ path('fos_user_security_logout') }}"><i class="icon-off"></i> Выход</a></li>
                                    </ul>
                                </li>
                            {% else %}
                                <li><a href="{{ path('fos_user_registration_register') }}">Зарегистрироваться</a></li>
                                <li class="dropdown">
                                    <a id="login-dropdown" class="dropdown-toggle" href="#" data-toggle="dropdown">Войти <strong class="caret"></strong></a>
                                    <div class="dropdown-menu" style="padding: 16px; padding-bottom: 0px;">

                                        {{ render(controller('DmitxeUserBundle:Security:headerLogin')) }}

                                    </div>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
         </div>

        <div class="row">
            <div class="span12">
                <div class="breadcrumb">
                    {% if breadcrumbs != '' %}
                        {% set breadcrumbs = '<a href="' ~ path('dmitxe_site_index') ~ '">Главная</a> » ' ~ breadcrumbs %}
                    {% endif %}
                    {% block breadcrumb breadcrumbs|raw %}
                </div>
            </div>
        </div>

        <div class="row">
            {% block sidebar %}
                <div id="sidebar" class="span3">
                    <div class="portlet">
                        <div class="portlet-decoration">
                            <div class="portlet-title">Рубрики блога</div>
                        </div>
                        <div class="portlet-content">
                            {{ render(controller('SmartBlogBundle:Widget:categoryTree')) }}
                        </div>

                        <div class="portlet-decoration">
                            <div class="portlet-title">Ближайшие задачи в разработке</div>
                        </div>
                        <div class="portlet-content">
                            <ul class="nav nav-tabs nav-stacked">
                                <li><a href="#">Разработка &laquo;Бандла&raquo; для распределённого хранения файлов.</a></li>
                                <li><a href="#">Фабрики для форм блога.</a></li>
                            </ul>
                        </div>

                        <div class="portlet-decoration">
                            <div class="portlet-title">Архив статей</div>
                        </div>

                        <div class="portlet-content">
                            {{ render(controller('SmartBlogBundle:Widget:archiveArticles', {'limit': 24 })) }}
                        </div>

                        <div class="portlet-decoration">
                            <div class="portlet-title">Тэги блога</div>
                        </div>

                        <div class="portlet-content">
                            {{ render(controller('SmartBlogBundle:Widget:tagCloud')) }}
                        </div>

                    </div>
                </div>
            {% endblock sidebar %}

            <div class="span9">
                <div id="mst_content">
                    {% block content %}
                    {% endblock content %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="span12">
                <div id="footer"> © 2011-2013 Дмитрий Хе. Все права защищены.
                    <br />
                    <small>
                    {{ simple_profiler() }}
                    </small>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
